@using ChoreBuddies.Frontend.Features.PredefinedRewards
@using Shared.PredefinedRewards
@inject IPredefinedRewardsService PredefinedService

<MudDialog>
    <DialogContent>
        @if (_loading)
        {
            <div class="d-flex justify-center my-4">
                <MudProgressCircular Indeterminate="true" />
            </div>
        }
        else
        {
            <MudTable Items="@_rewards"
                      Hover="true"
                      OnRowClick="RowClickEvent"
                      T="PredefinedRewardDto"
                      Dense="true"
                      Filter="new Func<PredefinedRewardDto,bool>(FilterFunc)">

                <ToolBarContent>
                    <MudTextField @bind-Value="_searchString"
                                  Placeholder="Search (name, cost, quantity)..."
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  IconSize="Size.Medium"
                                  Class="mt-0"
                                  Immediate="true" />
                </ToolBarContent>

                <HeaderContent>
                    <MudTh>Name</MudTh>
                    <MudTh>Cost</MudTh>
                    <MudTh>Quantity Available</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Name">@context.Name</MudTd>
                    <MudTd DataLabel="Cost">@context.Cost</MudTd>
                    <MudTd DataLabel="Quantity Available">@context.QuantityAvailable</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance? MudDialog { get; set; }

    private List<PredefinedRewardDto> _rewards = new();
    private string _searchString = "";
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await PredefinedService.GetAllPredefinedRewardsAsync();
            _rewards = result.OrderBy(c => c.Name).ToList();
        }
        finally
        {
            _loading = false;
        }
    }

    private void RowClickEvent(TableRowClickEventArgs<PredefinedRewardDto> tableRowClickEventArgs)
    {
        MudDialog!.Close(DialogResult.Ok(tableRowClickEventArgs.Item));
    }

    private void Cancel() => MudDialog!.Cancel();

    private bool FilterFunc(PredefinedRewardDto element)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        // Name filter
        if (element.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        // Cost filter
        if ($"{element.Cost}".Contains(_searchString))
            return true;

        // QuantityAvailable filter
        if ($"{element.QuantityAvailable}".Contains(_searchString))
            return true;

        return false;
    }
}