@page "/login"

@inject IAuthApiService authApiService
@inject NavigationManager navigationManager

<MudSnackbarProvider />
<MudDialogProvider />

<AuthorizeView>
    <Authorized>
        @{
            Console.WriteLine("User is already authorized, redirecting to home page.");
            navigationManager.NavigateTo("/");
        }
    </Authorized>
</AuthorizeView>

<div class="row">
    <MudContainer Style="justify-content: center" MaxWidth="MaxWidth.Small">

        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Secondary" style="margin-bottom:16px">Login</MudText>
            <MudForm @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField @bind-Value="email" T="string" Label="Email" Required="true" RequiredError="Email is required!"
                              Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" style="margin-bottom:8px" />
                <MudTextField @bind-Value="password" T="string" Label="Password"
                              InputType="@(_showPassword ? InputType.Text : InputType.Password)"
                              Required="true" RequiredError="Password is required!" Style="margin-bottom:32px"
                              Adornment="Adornment.End" OnAdornmentClick="TogglePasswordVisibility"
                              AdornmentIcon="@(_showPassword ? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)" />
            </MudForm>
            <MudText>Don’t have an account yet?  <MudLink Href="/signup">Sign up here</MudLink></MudText>
            <div class="d-flex align-center justify-space-around pt-3">
                <button disabled="@(!success)" Class="btn btn-primary" onclick="@LoginAction" style="padding-left: 25px; padding-right: 25px">  Login  </button>
            </div>
        </MudPaper>

    </MudContainer>
</div>


@code {
    bool success;
    string[] errors = { };
    string email = "";
    string password = "";

    private bool _showPassword;

    private async Task LoginAction()
    {
        if (string.IsNullOrEmpty(email) || string.IsNullOrEmpty(password)) return;


        var succeeded = await authApiService.LoginAsync(new LoginRequestDto(email, password));

        if (succeeded)
        {
            navigationManager.NavigateTo("/");
            StateHasChanged();
        }
    }

    private void TogglePasswordVisibility()
    {
        _showPassword = !_showPassword;
    }
}
